streamlit
beautifulsoup4
requests
markdownify
magika
charset-normalizer
defusedxml
python-pptx
mammoth
pandas
openpyxl
xlrd
lxml
pdfminer.six
pdfplumber
olefile
pydub
SpeechRecognition
youtube-transcript-api
azure-identity
azure-ai-documentintelligence
azure-ai-contentunderstanding
